# Объектные файлы и библиотеки
*.o
*.a

# Временные файлы данных (для флага -f)
*.bin
temp_result_*.bin

# Системные файлы и дампы
core
core.*
*.exe
a.out

# Исполняемые файлы
src/exec_min_max
src/parallel_min_max
src/sequential_min_max
src/zombie
src/process_memory
src/psum

# Отчеты
~$*.docx
*.docx
*.pdf